<div class="ribbon">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="ribbon_item <%= attr_active_1 %>">
        <span class="custom_badges <%= attr_active_1 %>">1</span> <%= t('pages.apply.ribon_1') %>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="ribbon_item <%= attr_active_2 %>">
        <span class="custom_badges <%= attr_active_2 %>">2</span> <%= t('pages.apply.ribon_2') %>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="ribbon_item <%= attr_active_3 %>">
        <span class="custom_badges <%= attr_active_3 %>">3</span> <%= t('pages.apply.ribon_3') %>
      </div>
    </div>
  </div>
  <hr>
</div>
