<% provide(:title, "#{t('apply_job.done')}") %>
<div class="container">
  <div class="box_job_apply">
    <div class="ribbon">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="ribbon_item active">
            <span class="custom_badges active">1</span> <%= t('pages.apply.ribon_1') %>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="ribbon_item active">
            <span class="custom_badges active">2</span> <%= t('pages.apply.ribon_2') %>
          </div>
        </div>
        <div class="col-lg-4 col-md-12">
          <div class="ribbon_item active">
            <span class="custom_badges active">3</span> <%= t('pages.apply.ribon_3') %>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <span style="font-size: 22px;"><%= t('apply_job.thanks') %></span><hr>
    <%= link_to t('apply_job.backtotop'), root_path, class: 'link_ct' %>
  </div>
</div>

