<div class="container">
  <div class="box_form">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align: center">Forgot your password?</h2><hr>
      </div> 
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :email %>
        </div>
        <div class="col-md-10">            
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-info btn-info-custom' %>
        </div>
      </div><br>
    <% end %>
    </div>
  </div>
</div>

