<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you for applied with VenJOB</title>
  </head>
  <body>
    <div class="container">
      <span style="font-size: 18px;"><b>Dear <%= @applied_job.name %></b></span>
      <div style="font-size: 15px;">
        <p>Thank you for applied with VenJOB. Your applied job's information is as follow:</p>
        <span>Job title: <%= @applied_job.job.name %></span><br>
        <span>Location: <%= @applied_job.job.cities.map(&:name).join(' ') %></span><br>
        <span>Company: <%= @applied_job.job.company.name %></span><br><br>
        <span>Name: <%= @applied_job.name %></span><br>
        <span>Email: <%= @applied_job.email %></span><br>
        CV: <%= link_to @applied_job.cv.identifier, root_url(@applied_job.cv.url), target: '_blank' %>
        <p>Best</p>
      </div>
    </div>
  </body>
</html>
