<div class = "box-banner">
  <%= image_tag 'banner-search-box-home.png', class: "banner-top" %>
  <div class="row">
    <div class="col-xs-12">
      <div class = "slogan">
        <h2 class = "slogan_text">
          <%= t('pages.banner.slogan') %>
        </h2>
        <h5 class = "slogan_text_h5">
          <%= t('pages.banner.slogan') %>
        </h5>
      </div>
    </div>
  </div>

  <!-- Process search pc-->
  <div class="box-search">
    <div class="search_scaffold">
      <div class = "total_job">
        <% if @job_count.blank? %>
          <h4 class="show_total_job"><%= t('pages.banner.slogan_2') %></h4>
        <% else %>
          <h4 class="show_total_job"><%= t('pages.banner.slogan_3', job_count: @job_count) %></h4>
        <% end %>
      </div>
      <div class="filter_box">
        <div class="search_input">
          <input type="search" name="" id="" class="custom_input_search" placeholder="<%= t('pages.banner.search_placeholder') %>">
        </div>
        <div class="search_industries">
          <div class="icon_list">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
          </div>
          <%= select_tag 'industry', options_from_collection_for_select(@industries, 'id', 'name'), prompt: t('pages.banner.all_industries'), class: 'show_list_industries' %>
        </div>
        <div class="search_location">
          <div class="icon_list">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <%= select_tag 'city', options_from_collection_for_select(@cities, 'id', 'name'), prompt: t('pages.banner.all_locations'), class: 'show_list_cities' %>
        </div>
        <div class="search_submit">
          <button type="submit" class="btn_search_submit">
            <i class="fas fa-search"></i>
            <%= t('pages.banner.btn_text_search') %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Process search tablet-->
  <div class="box-search-tablet">
    <div class="search_scaffold-tablet">
      <div class = "total_job">
        <h4 class="show_total_job"><%= t('pages.banner.slogan_3', job_count: @job_count) %> </h4>
      </div>
      <div class="filter_box filter_box_tablet">
        <div class="search_input">
          <input type="search" name="" id="" class="custom_input_search" placeholder="<%= t('pages.banner.search_placeholder') %>">
        </div>
        <div class="search_industries">
            <div class="icon_list">
              <i class="fa fa-list-ul" aria-hidden="true"></i>
            </div>
            <%= select_tag 'industry', options_from_collection_for_select(@industries, 'id', 'name'), prompt: t('pages.banner.all_industries'), class: 'show_list_industries' %>
        </div>
        <div class="search_location">
          <div class="icon_list">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <%= select_tag 'city', options_from_collection_for_select(@cities, 'id', 'name'), prompt: t('pages.banner.all_locations'), class: 'show_list_cities' %>
        </div>
        <div class="search_submit">
          <button type="submit" class="btn_search_submit">
            <i class="fas fa-search"></i>
            <%= t('pages.banner.btn_text_search') %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="box-show-total-jobs-mobile">
    <span><%= t('pages.banner.slogan_3', job_count: @job_count) %> </span>
  </div>
  <!-- Process search mobile-->
  <div class="box-search-mobile">
    <div class="fillter-search-mobile">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-12">
            <input type="search" name="" id="" class="custom_input_mobile_search" placeholder="<%= t('pages.banner.search_placeholder') %>">
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="search_industries_mobile">
              <%= select_tag 'industry', options_from_collection_for_select(@industries, 'id', 'name'), prompt: t('pages.banner.all_industries'), class: 'show_list_industries_mobile' %> 
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="search_location_mobile">
              <%= select_tag 'city', options_from_collection_for_select(@cities, 'id', 'name'), prompt: t('pages.banner.all_locations'), class: 'show_list_cities_mobile' %> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-sm-12">
          <button type="submit" class="btn_search_submit">
            <i class="fas fa-search"></i>
            <%= t('pages.banner.btn_text_search') %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
