<div class="container">
  <div class="border_box_cities">
    <div class="box_text_five_jobs box_padding_city">
      <span><%= t('pages.index.top_cities') %></span>
    </div>
    <div class="row no-gutters">
      <% @top_cities.each do |city| %>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="box_info_city">
            <div class="ct_name">
              <!-- <%= link_to city.name, "/jobs/city/#{city.id}" ,class: 'link_ct' %> -->
              <%= link_to city.name, jobs_path(model: 'city', slug: city.slug),class: 'link_ct' %>
            </div>
            <div class="ct_jobs_count">
              <%= link_to "#{city.jobs.count} #{t('pages.index.job')}", jobs_path(model: 'city', slug: city.slug),class: 'link_ct' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-lg-12">
        <div class="box_info_city">
          <div class="ct_name">
            <%= link_to t('pages.index.more'), city_index_path, class: 'link_ct' %>
          </div>
          <div class="ct_jobs_count">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
