<div class="container">
  <div class="box_my_page">
    <div class="row">
      <div class="col-lg-12">
        <div class="box_my_page_header">
          <h4><%= t('favorite.list') %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transform_margin"></div>
<% if @favorites.blank? %>
  <div class="col-lg-12">
    <div class="breadcrumb_total_search">
      <span class="breadcrumb-item active">
        <%= t('favorite.list_blank') %>
      </span>
    </div>
  </div>
  <div style="width: 100%; height: 55vh"></div>
<% else %>
<%= form_with url: apply_path, method: :get, local: true, skip_enforcing_utf8: true do |f| %>
  <div class="container">
    <div class="box_scroll">
      <% @favorites.each do |item| %>
        <%= render 'job/block_job_mini', data: item, form: f %>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="btn_apply_job in_favorite">
          <%= f.submit t('pages.detail.btr_text_submit_cv'), name: nil, class: 'btn btn-apply_job in_favorite' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
