<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="box_jobs">
        <div class="col-sm-12 d-block d-sm-none">
          <div class="link_favorite_top block_link_favorite md">
            <% if user_signed_in? %>
              <% favorite_id = current_user.favorites.find_by(job_id: data.id) %>
              <% if favorite_id.present? %>
                <%= render 'job/link_destroy', favorite_id: favorite_id %>
              <% else %>
                <%= render 'job/link_create', job_id: data.id %>
              <% end %>
            <% else %>
              <%= render 'job/link_create', job_id: data.id %>
            <% end %>
          </div>
        </div>      
          <div class="row">
            <div class="col-sm-10 col-md-9 col-lg-10">
              <div class="box_info">
                <div class="lol">
                  <%= link_to data.name, detail_job_path(id: data.id), class: 'job_name' %>
                </div>
                <div class="cop">
                  <h5 class="box_info_copany_name"><i class="far fa-building"></i> <%= data.company.name %></h5>
                </div>
                <div class="loc">
                  <h5 class="box_info_location"><i class="fas fa-map-marker-alt"></i>
                    <%= data.cities.map(&:name).join(' | ') %>
                  </h5>
                </div>
                <h5 class="box_info_salary"><i class="fas fa-dollar-sign"></i>&nbsp;<%= "#{t('pages.index.salary')}: #{data.salary}" %></h5>
                <div class="coc">
                  <h5 class="box_info_des"><%= strip_tags(data.description) %></h5>
                </div>
              </div>
            </div>
            <div class="col-sm-2 col-md-3 d-none d-sm-block col-lg-2">
              <div class="link_favorite_top block_link_favorite">
                <% if user_signed_in? %>
                  <% @favorite_id = current_user.favorites.find_by(job_id: data.id) %>
                  <% if favorite_id.present? %>
                    <%= render 'job/link_destroy', favorite_id: @favorite_id %>
                  <% else %>
                    <%= render 'job/link_create', job_id: data.id %>
                  <% end %>
                <% else %>
                    <%= render 'job/link_create', job_id: data.id %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
