<% provide(:title ,'Kết quả tìm kiếm') %>
<%= render 'home/banner_and_search' %>  
<div class="padding_index"></div>
<div class="container">
  <div class="row">    
    <div class="col-lg-12">
      <div class="breadcrumb_total_search">
        <span class="breadcrumb-item active">
          <% if @data.total_count > 0 %>
            Có&nbsp;<b><%= @data.total_count %></b>&nbsp;kết quả phù hợp với từ khóa&nbsp;<b><%= @keyword %></b>&nbsp;
          <% else %>
            Không có kết quả phù hợp với từ khóa&nbsp;<b><%= @keyword %></b>
          <% end %>
        </span>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="breadcrumb_total_search_pagination_jobs">
        <div class="pagination_jobs">
          <div class="paginator">
            <%= paginate @data %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'job/modal_login'%>
<%= render partial: 'block_info_job', collection: @data, as: :data %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">      
      <div class="breadcrumb_total_search_pagination_jobs">
        <div class="pagination_jobs">
          <div class="paginator">
            <%= paginate @data %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/scroll_top' %>
