<p><%= "#{t('mailer.send_email_changed.hello')} #{@resource.email}!"%></p>
<p><%= t('mailer.send_reset_password_changed.paragraph_1') %></p>

<p><%= link_to t('mailer.send_reset_password_changed.btn_text_change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('mailer.send_reset_password_changed.paragraph_2') %></p>
<p><%= t('mailer.send_reset_password_changed.paragraph_3') %></p>
