<header class="cus_header">  
  <div class="header_top">
    <div class="header_top_logo">    
    <%= link_to image_tag('logo.png', alt: 'logo', class: 'logo_header'), '/' %>
    </div>    
    <input class="check-nav-mobile" type="checkbox" name="" id="mobile-nav" hidden>
    <label for="mobile-nav" class="lbn-nav">&#9776</label>
    <label for="mobile-nav" class="overlay"></label>
    <div class = "override"></div>
    <div class="header_top_menu_right">
      <ul class="list_menu_header_right">
        <li class="list_item_menu_header_right">
          <%= link_to t('pages.index.favorite'), '#', class: 'link_item_menu_header_right' %>
        </li>
        <li class="list_item_menu_header_right">
          <%= link_to t('pages.index.history'), '#', class: 'link_item_menu_header_right' %>
        </li>
        <li class="list_item_menu_header_right">
          <%= link_to_if(user_signed_in?, t('pages.index.mypage'), my_page_path, class: 'link_item_menu_header_right') do            
              link_to t('pages.index.signin'), new_user_session_path, class: 'link_item_menu_header_right' 
          end %>
        </li>
        <li class="list_item_menu_header_right">
          <%= link_to_if(user_signed_in?, t('pages.index.signout'), destroy_user_session_path, method: :delete, class: 'link_item_menu_header_right') do            
              link_to t('pages.index.register'), new_user_registration_path, class: 'link_item_menu_header_right' 
          end %>
        </li>
        <li class="list_item_menu_header_right have_menu">
          <%= link_to t('pages.index.language'), '#', class: 'link_item_menu_header_right' %>
          <div class="menu_hover">
            <ul>
              <li>
                <%= image_tag('flagusa.png', class: 'header_img_flag')%>
                <%= link_to_if(user_signed_in?, t('pages.index.en'), set_lang_path(lang: 'en'), class: 'link_ct apply_job') do            
                  link_to t('pages.index.en'), {locale: 'en'}, {class: 'link_ct apply_job'}
                end %>
              </li>
              <li>
                <%= image_tag('flagvn.png', class: 'header_img_flag')%>
                <%= link_to_if(user_signed_in?, t('pages.index.vi'), set_lang_path(lang: 'vi'), class: 'link_ct apply_job') do            
                  link_to t('pages.index.vi'), {locale: 'vi'}, {class: 'link_ct apply_job'}
                end %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <%# mobile %>
    <div class = "menu__mobile">
      <div class = "content_menu_mobile">
        <%= link_to image_tag('avatar.png', alt: 'avatar', class: 'avatar_manu'), '#' %>
        <div class = "menu_mobile_vertical">
          <ul class = "list_menu_mobile_vertical">
            <li class = "item_menu_mobile_vertical">
              <%= link_to t('pages.index.favorite'), '#', class: 'link_item_menu_mobile' %>
            </li>
            <li class = "item_menu_mobile_vertical">
              <%= link_to t('pages.index.history'), '#', class: 'link_item_menu_mobile' %>
            </li>
            <li class="item_menu_mobile_vertical">
              <%= link_to_if(user_signed_in?, t('pages.index.mypage'), my_page_path, class: 'link_item_menu_mobile') do            
                  link_to t('pages.index.signin'), new_user_session_path, class: 'link_item_menu_mobile' 
              end %>
            </li>
            <li class="item_menu_mobile_vertical">
              <%= link_to_if(user_signed_in?, t('pages.index.signout'), destroy_user_session_path, method: :delete, class: 'link_item_menu_mobile') do            
                  link_to t('pages.index.register'), new_user_registration_path, class: 'link_item_menu_mobile' 
              end %>
            </li><hr style="width: 60%; background-color: #999;">
            <li class="item_menu_mobile_vertical">
              <span class="link_item_menu_mobile custom"><%= t('pages.index.language') %></span>
            </li>
            <li class="item_menu_mobile_vertical">
              <%= link_to_if(user_signed_in?, t('pages.index.en'), set_lang_path(lang: 'en'), class: 'link_item_menu_mobile') do            
                link_to t('pages.index.en'), {locale: 'en'}, {class: 'link_item_menu_mobile'}
              end %>
              <span style="color: #999;"> |</span>
              <%= link_to_if(user_signed_in?, t('pages.index.vi'), set_lang_path(lang: 'vi'), class: 'link_item_menu_mobile') do            
                link_to t('pages.index.vi'), {locale: 'vi'}, {class: 'link_item_menu_mobile'}
              end %>
            </li>
          </ul>
        </div>
      <div>
    </div>
  </div>
</header>
