<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>    
    <%= favicon_link_tag 'icontitle.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/shim' %>     
  </head>

  <body>
    <div class = "app">
      <%= render 'layouts/header' %>
      <%= custom_bootstrap_flash %>
      <% flash.discard %>
      <%= render 'layouts/padding' %>
      <%= yield %>            
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
